{% extends "base.html" %}
{% block content %}
    <main class="py-4">
        <div class="container-xl">

            <!-- Back Link -->
            <div class="mb-4">
                <a href="{{ url_for('ensemble.ensemble_detail', ensemble_id=ensemble.id) }}"
                   class="btn btn-outline-secondary btn-sm">
                    <i class="fas fa-arrow-left me-2"></i> Zpět na detail souboru
                </a>
            </div>

            {% if current_semester.id not in ensemble.semester_ids %}
                <div class="alert alert-warning" role="alert">
                    <p>
                        Současně prohlížený soubor není ve vámi nahlíženém období aktivní.
                    </p>
                    <p>
                        Pokud jej chcete převést do dalšího semestru, použijte v oddělení Semestry příkaz Převést do
                        dalšího semestru.
                    </p>
                </div>
            {% endif %}


            <!-- Ensemble Detail Card -->
            <div class="card shadow-sm">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Přidat studenta do souboru {{ ensemble.name }} na
                        pozici {{ instrumentation.instrument.name }} </h5>
                </div>

                <div class="card-body">
                    <div class="row g-4">
                        <div class="col">
                            <label class="form-label fw-semibold text-muted">Název:</label>
                            <div>{{ ensemble.name }}</div>
                        </div>
                    </div>
                    <div class="row g-4">
                        <div class="col">
                            <label class="form-label fw-semibold text-muted">Obsazení:</label>
                            <div>{{ ensemble.instrumentation }}</div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Student Selection Card -->
            <div class="card shadow-sm mt-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Dostupní hráči v
                        semestru {{ current_semester.name }} {{ current_semester.academic_year.name }}</h5>
                </div>

                <div class="table-responsive">
                    <table class="table align-middle mb-0">
                        <thead class="table-light text-uppercase small text-muted">
                        <tr>
                            <th class="d-none d-lg-table-cell">Příjmení</th>
                            <th class="d-none d-lg-table-cell">Jméno</th>
                            <th class="">Akce</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in available_students %}
                            <tr>
                                <td>
                                    {{ student.last_name }}
                                </td>
                                <td>
                                    {{ student.first_name }}

                                </td>
                                <td>
                                    <button class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#StudentSelectionModal{{ student.id }}">Vybrat
                                    </button>
                                </td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="StudentSelectionModal{{ student.id }}" tabindex="-1"
                                 aria-labelledby="StudentSelectionModal{{ student.id }}Label" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5"
                                                id="StudentSelectionModal{{ student.id }}Label">
                                                Přiřadit studenta do souboru
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Opravdu si přejete přidat
                                            studenta <b>{{ student.last_name }} {{ student.first_name }}</b> do
                                            souboru {{ ensemble.name }}?
                                        </div>
                                        <div class="modal-footer">
                                            <form action="{{ url_for('ensemble.add_student_to_ensemble', ensemble_id=ensemble.id,ensemble_instrumentation_id=instrumentation.id, selected_student=student.id) }}">

                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Zavřít
                                            </button>
                                            <button type="submit" class="btn btn-primary">Přidat</button>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </main>
{% endblock %}
