{% extends "base.html" %}
{% block content %}
    <main class="py-4">
        <div class="container-xl">

            <!-- Back Link -->
            <div class="mb-4">
                <a href="{{ url_for('ensemble.all_ensembles') }}" class="btn btn-outline-secondary btn-sm">
                    <i class="fas fa-arrow-left me-2"></i> Zpět na přehled souborů
                </a>
            </div>

            {% if current_semester.id not in ensemble.semester_ids %}
                <div class="alert alert-warning" role="alert">
                    <p>
                        Současně prohlížený soubor není ve vámi nahlíženém období aktivní.
                    </p>
                    <p>
                        Pokud jej chcete převést do dalšího semestru, použijte v oddělení Semestry příkaz Převést do
                        dalšího semestru.
                    </p>
                </div>
            {% endif %}


            <!-- Ensemble Detail Card -->
            <div class="card shadow-sm">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Detail souboru</h5>
                    <a href="{{ url_for("ensemble.ensemble_edit", ensemble_id=ensemble.id) }}"
                       class="btn btn-sm btn-info">
                        <i class="fas fa-edit me-1"></i>Upravit soubor
                    </a>
                </div>

                <div class="card-body">
                    <div class="row g-4">
                        <div class="col">
                            <label class="form-label fw-semibold text-muted">Název:</label>
                            <div>{{ ensemble.name }}</div>
                        </div>
                    </div>
                    <div class="row g-4">
                        <div class="col">
                            <label class="form-label fw-semibold text-muted">Obsazení:</label>
                            <div>{{ ensemble.instrumentation }}</div>
                        </div>
                    </div>
                </div>


                {# Uncomment this block when you want to use notes #}
                {#
        <div class="mt-4">
          <h6 class="fw-semibold text-muted mb-2">Poznámky</h6>
          <p class="text-muted">
            Připravit noty pro první housle. Zkontrolovat obsazení violoncell.
          </p>
        </div>
        #}
            </div>
            <!-- Ensemble Players Card -->
            <div class="card shadow-sm mt-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Hráči</h5>
                    <!-- Trigger -->
                    <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addStudentModal">
                        <i class="fas fa-plus me-1"></i> Přidat hráče (prázdný)
                    </a>

                    <!-- Modal Empty Player -->
                    <div class="modal fade" id="addStudentModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <form action="{{ url_for("ensemble.add_empty_player", ensemble_id=ensemble.id) }}"
                                  method="post" id="addStudentForm" class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Přidat prázdného hráče</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <div class="modal-body">
                                    <!-- Dropdown of students -->
                                    <div class="mb-3">
                                        <label for="instrument_id" class="form-label">Nástroj</label>
                                        <select id="instrument_id" name="instrument_id" class="form-select" required>
                                            <option value="" disabled selected>— Vyberte nástroj —</option>
                                            {% for i in available_instruments %}
                                                <option value="{{ i.id }}">
                                                    {{ i.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Zrušit</button>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-plus me-1"></i> Přidat
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

                <div class="table-responsive">
                    <table class="table align-middle mb-0">
                        <thead class="table-light text-uppercase small text-muted">
                        <tr>
                            <th class="d-none d-lg-table-cell">Příjmení</th>
                            <th class="d-none d-lg-table-cell">Jméno</th>
                            <th class="d-none d-lg-table-cell">Nástroj</th>
                            <th class="">Akce</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ensemble_player in player_links %}
                            <tr>
                                <td>
                                    {{ ensemble_player.player.last_name }}
                                </td>
                                <td>
                                    {{ ensemble_player.player.first_name }}

                                </td>
                                <td>
                                    {{ ensemble_player.ensemble_instrumentation.instrument.name
         if ensemble_player.ensemble_instrumentation else "-" }}
                                </td>
                                <td>
                                    <a href="{{ url_for('ensemble.add_student_to_ensemble', ensemble_id=ensemble.id, ensemble_instrumentation_id=ensemble_player.ensemble_instrumentation.id) }}">
                                        <i class="text-primary fas fa-user-plus me-2"></i>
                                    </a>
                                    <a href="#"><i class="text-info fas fa-right-left me-2"></i></a>
                                    <a href="#" data-bs-toggle="modal"
                                       data-bs-target="#deletePlayerModal{{ ensemble_player.id }}" class="text-danger">
                                        <i class="text-danger fas fa-trash me-2"></i>
                                    </a>
                                    <!-- Modal Empty Player -->
                                    <div class="modal fade" id="deletePlayerModal{{ ensemble_player.id }}" tabindex="-1"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <form action="{{ url_for('ensemble.delete_ensemble_player', ensemble_id=ensemble.id) }}"
                                                  method="post"
                                                  class="modal-content">

                                                <input type="hidden" name="ensemble_player_id"
                                                       value="{{ ensemble_player.id }}" required>

                                                <div class="modal-header">
                                                    <h5 class="modal-title">Smazat hráče</h5>
                                                    <button type="button" class="btn-close"
                                                            data-bs-dismiss="modal"></button>
                                                </div>

                                                <div class="modal-body">
                                                    <p>Opravdu si přejete smazat tohoto hráče?</p>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                                                        Zrušit
                                                    </button>
                                                    <button type="submit" class="btn btn-danger">
                                                        <i class="fas fa-trash me-1"></i> Smazat
                                                    </button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Ensemble Semesters Card -->
            <div class="card shadow-sm mt-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Semestry</h5>
                    <a href="#"
                       class="btn btn-sm btn-primary">
                        <i class="fas fa-file-export me-1"></i> Převést do dalšího semestru
                    </a>
                </div>

                <div class="table-responsive">
                    <table class="table align-middle mb-0">
                        <thead class="table-light text-uppercase small text-muted">
                        <tr>
                            <th class="table-cell">Akademický rok</th>
                            <th class="table-cell">Semestr</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for semester in ensemble.semesters %}
                            <tr>
                                <td class="table-cell">
                                    {{ semester.academic_year.name }}
                                </td>
                                <td class="table-cell">
                                    {{ semester.name }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
