{# templates/macros/_auth.jinja #}

{% macro if_perm(permission, current_user) %}
    {% if current_user and current_user.has_permission(permission) %}
        {{ caller() }}
    {% endif %}
{% endmacro %}


{% macro if_any_perm(permissions, current_user) %}
    {% set ns = namespace(has_perm=false) %}
    {% for p in permissions %}
        {% if current_user and current_user.has_permission(p) %}
            {% set ns.has_perm = true %}
        {% endif %}
    {% endfor %}
    {% if ns.has_perm %}
        {{ caller() }}
    {% endif %}
{% endmacro %}
