{% macro confirm_modal(id, title, message, action_url, button_label='Smazat', button_class='danger', form_hidden={}) %}
    <div class="modal fade" id="{{ id }}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form method="post" action="{{ action_url }}" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>{{ message }}</p>
                    {% for key, val in form_hidden.items() %}
                        <input type="hidden" name="{{ key }}" value="{{ val }}">
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                        Zrušit
                    </button>
                    <button type="submit" class="btn btn-sm btn-{{ button_class }}">
                        <i class="fas fa-trash me-1"></i> {{ button_label }}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endmacro %}
